@charset "utf-8";
/* CSS Document */
.mod100{
	width:100%;
	background-color:#ededed;
	font-size:0.75em;
	min-height:500px;
	overflow:hidden;
}
.mod101{
	padding-top:140px;
}
.mod100 h1{
	font-size:1.5em;
	color:#002d6e;
	text-align:center;
	width:80%;
	margin:0 auto;
	border-bottom:1px solid #aaa9a9;
	padding-bottom:6px;
	padding-top:8%
}
.mod100 ul{
	width:100%;
	overflow:hidden;
}
.mod100 ul li{
	width:100%;
	margin-top:14px;
}
.mod100 ul li span{
	width:30%;
	text-align:right;
	font-size:1.5em;
	color:#002d6e;
	float:left;
	height:50px;
	line-height:50px;
}
.mod100 ul li input,.mod100 ul li textarea{
	width:50%;
	padding:0 1.5%;
	float:left;
	margin-left:0.18%;
	border:1px solid #aaa9a9;
	height:50px;
	line-height:50px;
	font-size:1.2em;
	color:#aaa9a9;
	background-color:#ededed;
}
.mod100 ul li label{
	float:left;
	height:50px;
	line-height:70px;
	font-size:1.5em;
	color:#002d6e;
	display:table;
	margin:0 15px;
}
.mod100 ul li label .radio{
	width:18px;
	height:18px;
	display:table-cell;
	vertical-align:middle;
	margin-right:7px;
	float:inherit;
	margin-top:16px;
}
.mod100 ul li .file-text{
	width:41%;
	display:table-cell;
} 
.mod100 ul li .file-butt{
	width: auto;
    display: table-cell;
    color: #557fba;
    border: none;
    border-bottom: 1px #557fba solid;
	padding:0;
	line-height: 30px;
    height: 30px;
    margin-top: 20px;
	margin-left:1%;
} 
.mod100 ul li label font{
	height:50px;
	line-height:50px;
	display:table-cell;
	vertical-align:middle;
}	
.mod100 ul li textarea{
	height:370px;
	overflow-y:auto;
	line-height:1.2;
	padding:15px;
	font-size:1.5em;
	color:#555!important;
}
.mod100 ul li textarea[placeholder]{color:#AAA9A9;}
.r100{
	width:100%;
}
.r100 i{
	margin:0 auto;
	width:18%;
	display:block;
}
.r100 i img{
	margin-bottom:22px;
	width:100%;
}
.r100 p{
	text-align:center;
	color:#0c2550;
	font-size:2.1875em;
}
.mod8{
	margin:10% auto;
}
.mod110{width:120px; margin:5% auto;}/*参赛须知btn*/
@media screen and (max-width:640px){
	.mod100 {
		font-size: .8em;
	}
}
@media screen and (max-width:480px){
	.mod100 {
		font-size: .7em;
	}
}
@media screen and (max-width:420px){
	.mod100 {
		font-size: .5em;
	}
	.mod100 ul li input, .mod100 ul li textarea,.mod100 ul li span,.mod100 ul li label font,.mod100 ul li label{
		height:40px;
		line-height:40px;
	}
	.mod100 ul li textarea{
		padding: 0 1.5%;
	}
	.mod100 h1,.mod101{
		padding-top:50px;
	}
	.mod100 ul li .file-butt{
		margin-top:0;
	}
}

.notice{
	display:none;
}
.notice .popUp-a{
	width:178px;
	margin-top: 30px;
}
.notice-txt{
	width:66%;
	margin:10% auto 5% auto;
	color:#bebebe;
	font-size:1.2em;
	line-height:1.7;
	padding:0 13%;
	overflow-y:auto;
	height:66%;
}
.notice-txt h3{font-size:1.5em; font-weight:bold;  text-align:center;}
.notice-txt h4{font-size:1.3em;}
.notice-txt p{
	margin-bottom:10px;
}
.notice-txt a{color:#bebebe; text-decoration:underline;}
@media screen and (max-width:758px){
	.notice-txt{
		width:80%;
		padding:0 5%;
	}
}