@charset "utf-8";
/*
编 写 者:#manman.tang@deepfocus.net
布局框架:#hd（头部）
		#bd（内容）
			mod（模块）
				hd
				bd
				ft
		#ft（尾部）
时间更新:2015-11-24
*/
body{ background-color:#002d6e; }
.f-w{max-width:1000px; margin:0 auto; width:100%;}
.clearfix::before, .clearfix::after { display: table;content: " ";}
.pc-dis{display:block;}
.mob-dis{display:none;}
/*--------------------i--------------------*/
.i{display:inline-block; vertical-align:middle; background:url(../images/global/icon.png) no-repeat; text-indent:-999em; overflow:hidden;}
.i-ico1{width:101px; height:53px;background-position:-31px -18px; margin:4px 0 3px 0;}
.i-ico2{width:50px; height:50px;background-position:-9px -196px; transition:all 0.5s;}
.i-ico3{width:50px; height:50px;background-position:-90px -196px; transition:all 0.5s;}
.i-ico5{background-position:-215px -117px;width: 46px;height: 30px; margin-right:10px; float:left;}
.i-ico16{width:22px; height:21px;background-position:-285px -265px; margin:0 8px;}

/*--------------------font--------------------*/
/*@font-face {
	font-family: 'roman';
	src:url('../fonts/webfont.eot');
	src:url('../fonts/webfont.eot') format('embedded-opentype'),
		url('../fonts/webfont.woff') format('woff'),
		url('../fonts/webfont.ttf') format('truetype'),
		url('../fonts/webfont.svg#roman') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*.load img{background:url(../images/global/loading.gif) no-repeat center center; width:32px; height:32px;}*/
/*--------------------hd--------------------*/
#hd{ width:100%; background-color:#283d64; height:60px; position:relative; z-index:10;}
.r1{position:relative;}
.logo{background-color:#0c2450; position:relative; display:block; float:left; height:60px;padding-left:16px;}
.logo:after{content: "";border-top:0px solid transparent;border-bottom: 60px solid transparent;border-left: 30px solid #0c2450;position: absolute;}
.mod1{float:right;}
.mod1 a{color:#fff; font-size:18px; line-height:60px; display:block;}
.mod1 .idname{ min-width:70px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100px;}
.mod1 li{float:left; position:relative;}
.login{background:#0c2450; padding:0 60px 0 30px;}
.reg{background:#283d64;padding:0 30px;}
.login:before{content: "";border-top:60px solid transparent;border-bottom: 0px solid transparent;border-right: 20px solid #0c2450;position: absolute; left:-20px;}
.reg:before{content: "";border-top:60px solid transparent;border-bottom: 0px solid transparent;border-right: 20px solid #283d64;position: absolute; left:-20px;}
.succ{background:#0c2450; padding:0 60px 0 30px; display:none;}
.succ i{display: table-cell; vertical-align: middle; padding-right:30px;}
.succ i img{width:100%; height:auto; max-width:55px;}
.succ a{display: table-cell; vertical-align: middle;}
.succ:before{content: "";border-top:60px solid transparent;border-bottom: 0px solid transparent;border-right: 20px solid #0c2450;position: absolute; left:-20px;font-size:18px; }
.mod20{float:left; margin-left:4%; width:50%;}
.mod20 li{float:left; line-height:60px; margin:0 4%;}
.mod20 a{color:#fff; border-bottom:1px solid #fff; padding-bottom:2px;transition:0.5s;}
/*头部白色下拉部分*/
.mod21{ position:absolute; top:60px; background-color:#fff; right:0; height:60px; padding:0px 30px 0px 30px; width:187px; display:none;}
.mod21:before{content: "";border-bottom:60px solid transparent;border-top: 0px solid transparent;border-right: 20px solid #fff;position: absolute; left:-20px; }
.mod21 a{ border-bottom:1px solid #002d6e; padding-bottom:1px; color:#002d6e; line-height:1.2;}
.mod21 .mail{float:left; font-size:18px; margin-top:15px;}
.mod21 .mail a{float:left;}
.mod21 .mail a span{margin:0 6px;}
.mod21 .inout{float:right;  margin-top:11px;}
.mod21 .inout a{font-size:14px; line-height:1; display:block; margin-bottom:8px;}
.succ:hover .mod21{display:block;}

/*--------------------bd--------------------*/
#bd{}
.banner-txt{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF00040D', endColorstr='#BF00040D');background:rgba(0,4,13,0.75); font-size:18px; text-align:center; width:100%; padding:1% 0; position:absolute; bottom:0; color:#fff;}
.mod2 li{ background-color:#021b3e; width:25%; float:left;transition:all 0.5s; position:relative;}
.mod2 li a{width:100%;}
.mod2 li img{opacity:0.5; width:100%; float:left;transition:all 0.5s; background-color:#0F1519;}
.mod2 li:hover img{opacity:.2;transition:opacity .2s;-moz-transition:opacity .2s;-webkit-transition:opacity .2s;-o-transition:opacity .2s;-ms-transition:opacity .2s}
.mod2 p{font-size:18px; color:#fff;text-align:center; position:absolute; width:100%; top:50%; color:#fff; margin-top:-17px;transition:all 0.5s;text-shadow: #221714 0 1px 0;}

.mod3,.mod9{margin-top:20px;}
.mod3 li{width:50%;}
.mod9 li{width:33.33%;}
.mod9 li img{opacity:1;}

/*follow us*/
.r2{overflow:hidden;position:relative; z-index:1;}
.r5{ background-color:#283d65; padding:10px 0; height:50px;}
.mod4{ width:100%; font-size:18px; color:#fff; max-width:260px;}
.i-ico2:hover,.i-ico3:hover{box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8); border-radius:8px;}

/*companys*/
.r6{ background-color:#0c2550; padding:1% 2%; box-sizing:border-box;}
.mod5{margin:0 auto; font-size:14px; color:#fff; line-height:1.5;}
.mod5 td{padding:10px 0;}
.mod5 strong{margin-left:35px;}
.mod5 strong:first-child{margin-left:0;}
.mod5 img{ margin: 10px 3px;display: inline-block !important;vertical-align: middle;}
.mod5 span{display:inline-block; font-weight:bold; margin:0 10px 0 0;}
/*--------------------ft--------------------*/
#ft{ background-color:#283d65; padding:2%; box-sizing:border-box;}
.mod6{width:auto; float:right; text-align:left; color:#fff; font-size:14px; }
.mod30{width:50%; float:left; }
.mod30 li{float:left; margin-right:6%;}
.mod30 a{font-size:18px; border-bottom:1px solid #fff; display:block; color:#fff; line-height:1.5; transition:0.5s;}
.mod30 a:hover,.mod20 a:hover,.mod21 a:hover{opacity:0.7;}

/*--------------------content page--------------------*/
.mod7{ background-color:#557fba; height:50px; line-height:50px; font-size:18px; color:#fff;}
.mod7 p{background-color:#283d64; padding:0 5%; box-sizing:border-box; position:relative; display:inline-block; letter-spacing:0.1em;}
.mod7 p:after{content: "";border-top:0px solid transparent;border-bottom: 50px solid transparent;border-left: 20px solid #283d64;position: absolute; right:-20px;}
.mod7 a{float: right;padding-right: 5%;color: #fff;}
.mod8{width:100%; background:#002d6e;border:1px solid #002d6e; color:#fff; font-size:18px; height:50px; line-height:50px; text-align:center; display:block;max-width:915px; margin:5% auto;transition:0.2s; box-sizing:border-box;}
.mod8:hover{ border:1px solid #002d6e; background-color:#fff; color:#002d6e;}


/*头像上传*/
.preview-uploader{width: 150px; height:150px; margin:0 auto 38px; text-align:center;}
.img-preview {display: none;}
.webuploader {display: inline-block;}
.webuploader-pick {text-align: center;margin-top:-40px;overflow: hidden;position: relative;padding: 10px 0px;cursor: pointer;}
.webuploader::before {content:'';display: block;width: 100%;height: 100%;font-size: 90px;line-height: 100px;}
.iconfont{ background:url(../images/global/touxiang.gif) no-repeat top; width:105px; height:150px;}
.webuploader-container {position: relative;}
.webuploader .webuploader-pick {background-color: transparent;font-size: 24px;color: #002D6E;}
.webuploader > div {top: 0px !important;width: 100% !important;height: 100% !important;left: 0px !important;}
.webuploader > div input {left: 0px;top: 0px;width: 100%;height: 100%;}
.webuploader-element-invisible {text-indent: -9999em;clip: rect(1px, 1px, 1px, 1px);}
.com-avatar-cropper {position: absolute;left: -99999px; top: -99999px; width:72%;}	
.com-avatar-cropper.active {left: 14%;top: 102px;}
.com-avatar-cropper .avatar-cropper-hd {text-align: center;}
.com-avatar-cropper .avatar-cropper-hd .title {color: #000;font-size: 30px;}
.com-avatar-cropper .avatar-cropper-bd { margin-top: 25px;}
.com-avatar-cropper .avatar-cropper-bd .tip {text-align: center;color: #B3B3B3;font-size: 16px;margin-bottom: 12px;}
.com-avatar-cropper .avatar-cropper-bd .cropper {float: left;}
.com-avatar-cropper .avatar-cropper-bd .cropper .img-container {width: 270px;height: 270px;}
.cropper .img-container img {width: 100%;}
.cropper-hidden {display: none !important;}
.cropper-preview .tip {font-size: 20px;margin-bottom: 0px;}
.cropper-preview .img-preview {margin-top: 12px;width: 140px;height: 140px;border-radius: 50%;overflow: hidden;}
.com-avatar-cropper .avatar-cropper-ft {margin-top: 30px;}
.com-avatar-cropper .avatar-cropper-ft .btn {display: block;text-align: center;width: 100%;font-size: 20px;line-height: 20px;padding: 15px 0px;color: #FFF;background-color: #002d6e; transition:0.5s; border:1px solid #002D6E;}
.ripple {overflow: hidden;position: relative;}
.com-avatar-cropper .avatar-cropper-ft .btn.cancel {margin-top: 20px;background-color: #FFF;border: 1px solid #EAEAEA;color: #808080;border:1px solid #002d6e;}
.com-avatar-cropper .avatar-cropper-ft .btn:hover {background-color: #fff;color: #002D6E;}
.com-avatar-cropper .avatar-cropper-ft .btn.cancel:hover {background-color: #002D6E;color: #fff;}

@media screen and (max-width:640px){
	.pc-dis{display:none;}
	.mob-dis{display:block;}
	.i-ico1{width:82px; height:43px;background-position:-165px -199px;margin:4px 0 3px 0;}
	.i-ico16{width:15px; height:14px;background-position:-238px -269px; margin:0 4px;}
	
	#hd,.logo,.succ{height:50px;}
	.banner-txt{font-size:12px; padding:3% 0;}
	.succ i{width:35px;}
	.logo:after{border-bottom:50px solid transparent;border-left:10px solid #0c2450;}
	.login,.succ{padding: 0 20px 0 10px;}
	.login:before,.succ:before{ border-top: 50px solid transparent; border-right: 10px solid #0c2450; left:-10px;}
	.succ i{padding-right:15px;}
	.reg{padding: 0 10px;}
	.reg:before{border-top: 50px solid transparent;border-right: 10px solid #283d64;left:-10px;}
	.mod1 a,.mod20 li{line-height:50px; font-size:16px;}
	.mod2 li{width:50%;}
	.mod2 p{font-size:16px;}
	.mod20{display:none;}
	.mod21{width:100%; padding:0; box-sizing:border-box;top:50px; height:50px;}
	.mod21:before {left:-10px;border-bottom: 50px solid transparent;border-right: 10px solid #fff;}
	.i-ico5{background-position:-288px -123px;width: 31px;height: 20px; margin-right:5px;}
	.mod21 .inout {margin:5px 5px 0 0;}
	.mod21 .mail a{line-height:inherit;}
	.mod3 li{width:100%;}
	.mod4{font-size:14px; max-width:200px;}
	.r6{padding: 1% 0%;}
	.mod5{font-size:12px; width:90%; margin:0 auto;}
	.mod5 img{max-width:15%; margin:6px;}
	.mod5 span{margin:6px;}
	.mod6{font-size:10px; width:100%; text-align:center;}
	.mod7{font-size:16px;height: 40px;line-height: 40px;}
	.mod7 p:after{border-bottom: 40px solid transparent;}
	.mod8{ height:35px; line-height:35px; width:90%; font-size:16px;}
	.mod9 li{width:33.33%;}
	.mod30 a{font-size:14px;}
	.mod30{width:132px; margin:0 auto 4% auto; text-align:center; float:none;}
	.mod30 li{margin:0 5px;}
	.mod30:after{content:'';clear:both; overflow:hidden;}
	
}
/*注册 登入*/
body{
	position:relative;
}
.zhezhao{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(0,16,53,.8);
	z-index:100;
}
.pop-up{
	position:fixed;
	top:50%;
	left:50%;
	width:600px;
	height:530px;
	margin-left:-300px;
	margin-top:-265px;
	background-color:#fff;
	z-index:101;
	font-size:0.65em;
}
.i-ico4{
	width:241px;
	height:auto;
	display:block;
	margin:50px auto;
}
.i-ico4 img{
	width:auto;
	height:auto;
}
.popUP-input{
	width:72%;
	height:45px;
	line-height:45px;
	padding:0 1.5%;
	margin:0 auto 22px auto;
	border:1px solid #032d6e;
	font-size:1.5em;
	display:block;
}
.popUp-a{
	display:block;
	width:72%;
	margin:10% auto 5% auto;
	height:45px;
	line-height:45px;
	background-color:#002d6e;
	color:#fff;
	text-align:center;
	font-size:1.5em;
	border:1px solid #002d6e;
}
.popUp-a:hover{
	transition:all 0.5s;
	background-color:#fff;
	color:#002d6e;
}
.popUp-ul{
	font-size:1.5em;
	color:#002d6e;
	width:72%;
	margin:0 auto;
}
.popUp-ul li{
	border-bottom:1px solid #002d6e;
	padding-bottom:2px;
}
.popUp-ul li:hover{
	cursor:pointer;
	border-bottom:none;
}
.popUp-ul-l{
	float:left;
}
.popUp-ul-r{
	float:right;
}
.popUp-close{
	position:absolute;
	top:25px;
	right:25px;
	background:url(../images/global/close.png) no-repeat 0 0;
	width:34px;
	height:31px;
	cursor:pointer;
}
.pop-up h1{
	font-size:2.1875em;
	color:#0c2550;
	width:100%;
	text-align:center;
	margin:10% auto 5% auto;
}
.quxiao{
	border:1px solid #002d6e;
	background-color:#fff;
	color:#002d6e;
	margin:0 auto 15px auto;
}
.quxiao:hover{
	background-color:#002d6e;
	color:#fff;
}
.phoneImg{
	width:105px;
	margin:0 auto 38px auto;
	font-size:24px;
	text-align:center;
	color:#002d6e;
}
.phoneImg:hover{
	cursor:pointer;
}
.phoneImg img{
	margin-bottom:22px;
}
.user .popUp-a{
	margin:36px auto 15px auto;
}
.success{
	font-size:2.1875em;
	color:#002d6e;
	width:200px;
	height:200px;
	line-height:200px;
	text-align:center;
	border-radius:50%;
	border:1px solid #002d6e;
	margin:0 auto 57px auto;
	position:relative;
}
.success font{
	position:absolute;
	top:50%;
	left:50%;
	margin:-111px 0 0 -111px;
	display:block;
	width:220px;
	height:220px;
	line-height:220px;
	border-radius:50%;
	border:1px solid #002d6e;
}
.user .i-ico4{
	margin:30px auto;
}
.zhezhao{
	display:none;
}
.log-on{
	display:none;
}
.rem-pass{
	display:none;
}
.user{
	display:none;
}
.user .user1{
	display:none;
}
.user .user2{
	display:none;
}
.user .user3{
	display:none;
}
.change-pass{
	display:none;
}
.popUp-wrong{
	position:fixed;
	top:50%;
	left:50%;
	width:216px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-align:center;
	background-color:#707070;
	font-size:14px;
	border-radius:5px;
	margin-top:-20px;
	margin-left:-108px;
	display:none;
}
/*倒计时*/
.mod99{
	background-color:#283d65;
	overflow: hidden;
    padding: 30px 0 20px 0;
	font-size:0.6em;
}
.timeBox{
	width:875px;
	margin:0 auto;
	overflow:hidden;
}
.mod99 .timeBox font{
	float:left;
	font-size:1.95em;
	color:#fff;
	height:60px;
	line-height:60px;
	margin-left:16px;
	margin-right:9px;
}
.countdownHolder{
	float:left;
	font-family:'Open Sans Condensed',sans-serif;
	font-size:3.5em;
	line-height:1.5;
	text-align:center;
	letter-spacing:-3px;
	overflow:hidden;
}

.position{
	display: block;
	float:left;
	height: 60px;
	line-height:60px;
	overflow: hidden;
	position: relative;
	width: 45px;
	margin-left:3px;
}

.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:#444;
	border-radius:0.2em;
	text-align:center;
	color:#002d6e;
	letter-spacing:-1px;
	font-weight:bolder;
}

.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, #3A3A3A),
		color-stop(0.5, #444444)
	);
	background:url(../images/global/carousel.png) no-repeat center 0;
	width:45px;
	height:60px;
	
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{ width:50px!important;}
.countSeconds{}

.countDays,.countHours,.countMinutes,.countSeconds{float:left;
}
.countDiv{
	width:70px;
	height:60px;
	line-height:60px;
	position:relative;
	color:#fff;
	float:left;
	display:block;
	font-size:0.6em;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
	display:none;
}

.countDiv:after{
	top:0.9em;
}
@media screen and (max-width:1024px){
	.mod99 font{
		float:inherit;
		display:block;
		text-align:center;
	}
	.countdownHolder{
		float:inherit;
	}
	.countDiv{
		width:50px;
	}
	.mod99{
		font-size:0.8em;
	}
	.timeBox{
		width:850px;
	}
}
@media screen and (max-width:860px){
	.mod99{
		font-size:0.6em;
	}
	.countDiv{
		width:auto;
		padding:0 5px;
	}
	.timeBox{
		width:750px;
	}
}
@media screen and (max-width:760px){
	.mod99{font-size:0.5em;}
	.timeBox{width:560px;}
	.position,.digit.static{width:30px;background-position:center 0;}
}
@media screen and (max-width:660px){
	.timeBox{width:420px;}
	.mod99{padding:0 0 20px 0;}
	.mod99 .timeBox font{display:block;float:inherit;margin-right:0;}
	.countdownHolder{width: 420px;margin: 0 auto;}
}
@media screen and (max-width:440px){
	.timeBox{width:300px;}
	.countDiv{height:40px; line-height:40px;}
	.position,.digit.static{width:20px; line-height:40px;height:40px;}
	.digit.static{background:url(../images/global/m-carousel.png) no-repeat center 0; height:40px;}
	.countdownHolder{width: 300px;}
	.countDiv{padding:0;}
	.countDiv2{width:auto!important;}
}
@media screen and (max-width:1024px){
	.pop-up{top:30px;}
}
@media screen and (max-width:758px){
	.pop-up{top:0;left:0;margin:0;width:100%;height:100%;font-size:0.6em;max-height:600px;}
	.popUP-input,.popUp-a,.popUp-ul{width:78%;}
	.i-ico4{margin: 96px auto 20px auto;width:190px;}
	.success{width:180px;height:180px;}
	.change-pass h1 {margin: 70px auto 50px auto;}
}
@media screen and (max-width:640px){
	.popUP-input,.popUp-a,.popUp-ul{width:74%;}
	.i-ico4{width:50%;margin:10% auto;}
	.user .popUp-a {margin: 5% auto;}
	.change-pass h1 {margin: 70px auto 50px auto;}
}