@charset "utf-8";
/*
编 写 者:#manman.tang@deepfocus.net
布局框架:#hd（头部）
		#bd（内容）
			mod（模块）
				hd
				bd
				ft
		#ft（尾部）
时间更新:2015-11-24
*/
/*apply 船队&船员报名*/
.mod10 li{width:50%;}
.mod10 li img{opacity:1;}
.mod10 p{font-size:30px;}

.mod11{width:100%; background-color:#ededed; font-size:16px; color:#002d6e;}
.mod14 li{ float:none; display:table;margin:2% 0 0 0; padding:0 5% 2% 5%;box-sizing:border-box;border-bottom:1px solid #aaa9a9; width:100%;}
.mod14 li div{text-align:left; width:16.4%; display:table-cell; vertical-align:middle;}
.mod14 li div:last-child{text-align:right;}
.mod14 li a{ color:#557fba; border-bottom:1px solid #557fba; padding-bottom:5px; text-align:center;}
.more{ color:#557fba; border-bottom:1px solid #557fba; padding-bottom:5px; text-align:center; display:block; margin:8% auto 4%; width:100px;}
.more:hover,.mod11 li a:hover{color:#002d6e;border-bottom:1px solid #002d6e;}


/*详细信息列表*/
.mod12{ margin:0 auto; padding:5% 0 0 0; line-height:1.25; max-width:650px; width:100%;}
.mod12 li{width:100%;padding:2% 0; display:table;}
.mod12 img{padding-top:15%; width:100%;}
.mod12 label{ vertical-align:top; width:105px; text-align:right; padding-right:2%; display:table-cell;}
.mod12 p{display:table-cell;}
.mod12 a{color:#002d6e;border-bottom:1px solid #002d6e; padding-bottom:10px; float:right;}
.mod12 a:hover{color:#557fba;border-bottom:1px solid #557fba;}

.mod13{width:100%; max-width:837px; margin:5% auto; font-size:16px;}
.mod13 li{width:100%;}
.mod13 .info{ background-color:#aaa9a9; color:#fff; height:39px; line-height:39px;}
.mod13 .info span{margin-left:10px;}
.mod13 .txt{margin-top:20px;}
.mod13 .reply{margin-top:10px; color:#557fba; width:100%;padding-left:4%;box-sizing:border-box;}
.mod13 .a-reply{float:right;color:#557fba;border-bottom:1px solid #557fba; margin:10px 0 5% 0;}
.mod13 textarea{width:100%; border:1px solid #aaa9a9; height:120px;box-sizing:border-box;background-color:#ededed;color:#AAA9A9; padding:10px;}
.mod13 .reply-textarea{display:none;}
.mod13 .yours p{font-size:20px; margin-bottom:10px;}
.mod13 .yours textarea{height:250px;}
.mod13 .yours .a-reply{font-size:20px; color:#002d6e;border-bottom:1px solid #002d6e;}

/*船员信息4则*/
.mod15{width:67.2%;display:table-cell; vertical-align:middle;}
.mod15 li{border-bottom:0; width:25%; margin:0;padding:0; float:left;}
.mod16{width:180px; margin:0 auto; padding:0 5%; color:#fff!important; display:block; float:none!important;}/*修改个人信息btn*/
.mod16:hover{color:#002D6E!important;}

/*联系我们*/
.mod17{ color:#002d6e; background-color:#fff; line-height:2;padding:10% 20%; box-sizing:border-box; font-size:20px;}
.mod17 label{ color:#727171;display: inline-block;float: left;}
.mod17 a{color:#002d6e;}
.mod17 a:hover{text-decoration:underline;}

/*新闻*/
.mod18{ background-color:#ededed; line-height:1.5;}
.mod18 .content{width:80%; margin:2% auto 0;font-size:16px;color:#727171;padding-bottom:10%}
.mod18 .content .title{ margin-bottom:5%;}
.mod18 .content h3{color:#002d6e; font-size:22px;}
.mod18 .content h4{color:#002d6e; font-size:22px; text-align:center;margin-bottom:2%;}
.mod18 .content p, .mod18 .content img{margin-bottom:5%;}
.mod18 .content p span{float:right; display:inline-block;color:#002d6e;}
.mod18 .share{text-align: center;padding: 3% 0px;overflow: hidden;}
.mod18 .share h2 {display: inline-block;vertical-align: top;padding: 0px 2%;position: relative; width:150px;}
.mod18 .share h2::before, .mod18 .share h2::after {content: "";position: absolute;top: 50%;width: 9999px;border-top: 1px solid #727171;}
.mod18 .share h2::before {left: 100%;}
.mod18 .share h2::after {right: 100%;}
.mod18 .share .i{margin:0 10px;}

.r10 .mod8{max-width:837px;}
@media screen and (max-width:640px){
	.mod2 p {font-size: 14px;}
	.mod10 li{width:100%;}
	.mod11{font-size:14px;}
	.mod11 li{margin-top:7%;padding: 0 5% 2% 5%;box-sizing: border-box;}
	.mod11 li div{width:25%;}
	.mod11 li div:first-child{width:15%;}
	.mod11 li div img{width:100%;max-width:34px;}
	.mod11 .mod13 li div:first-child{width:100%;}
	.mod12 label{text-align: left;width: auto;display: block;float: left;}
	.mod12 .personal label{width:100%; padding:0;  display:block;}
	.mod12 .personal p{display:block;}
	.mod12 p{width:auto; float:left;}
	.mod13 .reply{padding-left:8%;}
	.mod13 .yours p,.mod13 .yours .a-reply{font-size:16px;}
	.mod13 .yours textarea{height:120px;}
	.mod11 li div.reply-textarea{width:100%;}
	.mod14 li a{padding-bottom:0;}
	.mod15{width:60%;}
	.mod15 li{margin:0; width:50%; padding:0;}
	.more{width:60px;}
}

