/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	width: 59px;height: 59px;
	color: #FFF;
	display: inline-block;
	zoom: 1;
	display:block!important; position:absolute; top:50%; z-index:10;text-indent:-999em; margin-top:-30px;
}
.owl-prev{background:url(../images/global/icon.png) no-repeat -15px -111px;left:29px;}
.owl-next{background:url(../images/global/icon.png) no-repeat -109px -111px;right:29px;}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=80);/*IE7 fix*/
	opacity: 0.8;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;height: 10px;
	margin: 5px 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	border:1px solid #000;
	overflow: hidden;
}
.owl-pagination{
	margin-top: 0px;
	z-index: 10;
	position: absolute; width:100%;bottom:70px;}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background-color:#ea6505;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	/*min-height: 150px;*/
	background: url(AjaxLoader.gif) no-repeat center center
}
@media screen and (max-width:640px){
	.owl-pagination{bottom:40px;}
	.owl-theme .owl-controls .owl-buttons div{width:32px;height:32px;margin-top:-15px;}
	.owl-prev{background:url(../images/global/icon.png) no-repeat -274px -205px;left:15px;}
	.owl-next{background:url(../images/global/icon.png) no-repeat -310px -206px;right:15px;}
	
}